@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

@layer components {
  .app__buttons {
    @apply py-2 px-4 text-sm bg-transparent text-gray-700 rounded-lg font-medium border border-gray-700 hover:bg-gray-700 hover:text-white;
  }
}
